.dashBar{
    padding: 2px 0;
    background-color: #2680EB;
}

.dashBar ul {
    display: flex;
}

.dashBar ul li{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    text-transform: capitalize;
    list-style: none;
    letter-spacing: .5px;
    padding: 0 15px;
}

.dashBar ul li:hover{
    cursor: pointer;
}