.questionWrapper{
    padding: 15px 0 15px 25px;
    margin: 15px 0;
    width: 90%;
   background: #FFFFFF 0% 0% no-repeat padding-box;
   box-shadow: 4px 7px 12px #00000029;
}

.questionNumber{
 font: 16px/0px sans-serif;
color: #112234;
opacity: 0.61;
}

.questionContent{
font: 22px/20px sans-serif;
color: #112234;
opacity: 1;

}

.questionOptions div{
    padding: 10px 0 10px !important;
}